<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <style>
    #app {
      margin: 50px auto;
      width: 600px;
    }
    fieldset {
      border: 1px solid orangered;
      margin-bottom: 20px;
    }
    fieldset input {
      width: 200px;
      height: 30px;
      margin: 10px 0;
    }
    table {
      width: 600px;
      border: 1px solid orangered;
      text-align: center;
    }
    thead {
      background-color: orangered;
    }
  </style>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <fieldset>
      <legend>身份录入系统</legend>
      <div>
        <span>姓名</span>
        <input type="text" placeholder="请输入姓名" v-model="newRecord.name">
      </div>
      <div>
        <span>年龄</span>
        <input type="text" placeholder="请输入年龄" v-model="newRecord.age">
      </div>
      <div>
        <span>性别</span>
        <select v-model="newRecord.sex">
          <option value="男">男</option>
          <option value="女">女</option>
        </select>
      </div>
      <div>
        <span>手机</span>
        <input type="text" placeholder="请输入手机" v-model="newRecord.phone">
      </div>
      <div>
        <button v-on:click="insertRecord()">创建</button>
      </div>
    </fieldset>

    <table>
      <thead>
        <tr>
          <th>姓名</th>
          <th>性别</th>
          <th>年龄</th>
          <th>手机</th>
          <th>删除</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(p, index) in persons">
          <td>{{ p.name }}</td>
          <td>{{ p.age }}</td>
          <td>{{ p.sex }}</td>
          <td>{{ p.phone }}</td>
          <td><button v-on:click="deleteRecord(index)">删除</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        persons: [
          {name:'小鹅', age:26, sex:'男', phone:'188****4427'},
          {name:'小龟', age:38, sex:'女', phone:'137****6736'},
        ],
        newRecord: {name:'', age:0, sex:'男', phone:''},
      },
      methods: {
        insertRecord: function() {
          if(this.newRecord.name == '') {
            alert('姓名不能为空');
            return;
          }
          if(this.newRecord.age < 0) {
            alert('请输入正确的年龄范围');
            return;
          }
          if(this.newRecord.phone == '') {
            alert('手机号码不能为空');
            return;
          }
          this.persons.unshift(this.newRecord);
          this.newRecord = {name:'', age:0, sex:'男', phone:''};
        },
        deleteRecord: function(index) {
          this.persons.splice(index, 1);
        }
      },
    });
  </script>
</body>
</html>
